@model LibraryManagement.Models.NhanVien

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa nhân viên</h1>

<div class="card">
    <div class="card-body">
        <h5>@Model.HoTen</h5>

        <dl class="row">
            <dt class="col-sm-3">Mã NV</dt>
            <dd class="col-sm-9">@Model.MaNhanVien</dd>

            <dt class="col-sm-3">Chức vụ</dt>
            <dd class="col-sm-9">@Model.ChucVu</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="MaNhanVien" />
            <button class="btn btn-danger">Xóa</button>
            <a asp-action="Index" class="btn btn-secondary ms-2">Hủy</a>
        </form>
    </div>
</div>
