@model LibraryManagement.Models.DanhMuc

<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

<div class="row g-3">
    <div class="col-md-6">
        <label asp-for="MaDanhMuc" class="form-label"></label>
        <input asp-for="MaDanhMuc" class="form-control" readonly />
        <span asp-validation-for="MaDanhMuc" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="TenDanhMuc" class="form-label"></label>
        <input asp-for="TenDanhMuc" class="form-control" />
        <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
    </div>

    <div class="col-12">
        <label asp-for="MoTa" class="form-label"></label>
        <textarea asp-for="MoTa" rows="3" class="form-control"></textarea>
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>
</div>