<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary mb-5">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary"
         tabindex="-1"
         id="sidebarMenu"
         aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">
                Quản lý thư viện
            </h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    data-bs-target="#sidebarMenu"
                    aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" asp-controller="Home" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#house-fill"></use>
                        </svg>
                        Bảng điều khiển
                    </a>
                </li>
            </ul>
            <hr class="my-2" />
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-body-secondary text-uppercase">
                <span>Quản lý sách</span>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="Sach" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark"></use>
                        </svg>
                        Sách
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="CuonSach" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#cart"></use>
                        </svg>
                        Cuốn sách
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="DanhMuc" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#people"></use>
                        </svg>
                        Danh mục
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="TacGia" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#graph-up"></use>
                        </svg>
                        Tác giả
                    </a>
                </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-body-secondary text-uppercase">
                <span>Quản lý con người</span>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="NguoiMuon" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark"></use>
                        </svg>
                        Độc giả
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="NhanVien" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#cart"></use>
                        </svg>
                        Nhân viên
                    </a>
                </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-body-secondary text-uppercase">
                <span>Mượn – Trả</span>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="PhieuMuon" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark"></use>
                        </svg>
                        Phiếu mượn
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="PhieuPhat" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark"></use>
                        </svg>
                        Phiếu phạt
                    </a>
                </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-body-secondary text-uppercase">
                <span>Báo cáo</span>
            </h6>
            <ul class="nav flex-column">
                <!--<li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="SachQuaHans" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark"></use>
                        </svg>
                        Sách quá hạn
                    </a>
                </li> !-->
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="ThongKeMuon" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#cart"></use>
                        </svg>
                        Thống kê mượn
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="ThongKeTienPhats" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#cart"></use>
                        </svg>
                        Thống kê tiền phạt
                    </a>
                </li>!-->
            </ul>
            <!-- <hr class="my-2" />
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-body-secondary text-uppercase">
                <span>Store Proceduce</span>
            </h6>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" asp-controller="ThongKeSach" asp-action="Index">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#file-earmark"></use>
                        </svg>
                        Thống kê sách
                    </a>
                </li>
            </ul>
            <hr class="my-2" />
            <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#gear-wide-connected"></use>
                        </svg>
                        Cài đặt
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="#">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#door-closed"></use>
                        </svg>
                        Đăng xuất
                    </a>
                </li>
            </ul>!-->
        </div>
    </div>
</div>