@model LibraryManagement.Models.CuonSach

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa cuốn sách</h1>

<div class="card">
    <div class="card-body">
        <h5>Bạn có chắc muốn xóa cuốn sách này?</h5>

        <dl class="row">
            <dt class="col-sm-3">Mã cuốn</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MaCuon)</dd>

            <dt class="col-sm-3">Sách</dt>
            <dd class="col-sm-9">@Model?.Sach?.TenSach</dd>

            <dt class="col-sm-3">Tình trạng</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TinhTrang)</dd>

            <dt class="col-sm-3">Trạng thái</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TrangThai)</dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="MaCuon" />
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a asp-action="Index" class="btn btn-outline-secondary ms-2">Hủy</a>
        </form>
    </div>
</div>
