@model LibraryManagement.Models.PhieuPhat

<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

<div class="row g-3">

    <div class="col-md-6">
        <label asp-for="MaPhieuMuon" class="form-label"></label>
        <select asp-for="MaPhieuMuon" sp-items="ViewBag.MaPhieuMuon" class="form-select">
            <option value="">-- Chọn Phieu Muon --</option>
        </select>
        <span asp-validation-for="MaPhieuMuon" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="SoTienPhat" class="form-label"></label>
        <input asp-for="SoTienPhat" class="form-control" />
        <span asp-validation-for="SoTienPhat" class="text-danger"></span>
    </div>

    <div class="col-md-8">
        <label asp-for="LyDo" class="form-label"></label>
        <input asp-for="LyDo" class="form-control" />
        <span asp-validation-for="LyDo" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="TrangThaiThanhToan" class="form-label"></label>
        <select asp-for="TrangThaiThanhToan" class="form-select"
                asp-items="Html.GetEnumSelectList<LibraryManagement.Enums.PaymentStatus>()"></select>
        <span asp-validation-for="TrangThaiThanhToan" class="text-danger"></span>
    </div>
</div>