@model LibraryManagement.Models.Sach

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa sách</h1>

<div class="card">
    <div class="card-body">
        <h5>Bạn có chắc muốn xóa sách này?</h5>

        <dl class="row">
            <dt class="col-sm-3">Mã sách</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MaSach)</dd>

            <dt class="col-sm-3">Tên sách</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TenSach)</dd>

            <dt class="col-sm-3">Tác giả</dt>
            <dd class="col-sm-9">@Model?.TacGia?.TenTacGia</dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="MaSach" />
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a asp-action="Index" class="btn btn-outline-secondary ms-2">Hủy</a>
        </form>
    </div>
</div>