@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Quản lý thông tin - Nhóm 3</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Chào mừng bạn đến với hệ thống quản lý thư viện của chúng tôi. Ứng dụng này được phát triển nhằm giúp việc quản lý sách, tác giả và độc giả trở nên dễ dàng và hiệu quả hơn.
        </p>
    </div>
</div>
