@model LibraryManagement.Models.PhieuMuon
@using LibraryManagement.Enums

<div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

<div class="row g-3">

    <div class="col-md-4">
        <label asp-for="MaNguoiMuon" class="form-label"></label>
        <select asp-for="MaNguoiMuon" class="form-select" asp-items="ViewBag.MaNguoiMuon"></select>
        <span asp-validation-for="MaNguoiMuon" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="MaNhanVien" class="form-label"></label>
        <select asp-for="MaNhanVien" class="form-select" asp-items="ViewBag.MaNhanVien"></select>
        <span asp-validation-for="MaNhanVien" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="NgayMuon" class="form-label"></label>
        <input asp-for="NgayMuon" type="date" class="form-control" />
        <span asp-validation-for="NgayMuon" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="HanTra" class="form-label"></label>
        <input asp-for="HanTra" type="date" class="form-control" />
        <span asp-validation-for="HanTra" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="TrangThai" class="form-label"></label>
        <select asp-for="TrangThai" class="form-select" asp-items="Html.GetEnumSelectList<LoanStatus>()"></select>
        <span asp-validation-for="TrangThai" class="text-danger"></span>
    </div>
</div>