@model LibraryManagement.Models.NguoiMuon
@using LibraryManagement.Enums

<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

<div class="row g-3">

    <div class="col-md-8">
        <label asp-for="HoTen" class="form-label"></label>
        <input asp-for="HoTen" class="form-control" />
        <span asp-validation-for="HoTen" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="NgaySinh" class="form-label"></label>
        <input asp-for="NgaySinh" type="date" class="form-control" />
        <span asp-validation-for="NgaySinh" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="CCCD" class="form-label"></label>
        <input asp-for="CCCD" class="form-control" />
        <span asp-validation-for="CCCD" class="text-danger"></span>
    </div>

    <div class="col-md-6">
        <label asp-for="DiaChi" class="form-label"></label>
        <input asp-for="DiaChi" class="form-control" />
        <span asp-validation-for="DiaChi" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="SoDienThoai" class="form-label"></label>
        <input asp-for="SoDienThoai" class="form-control" />
        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
    </div>

    <div class="col-md-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="LoaiDocGia" class="form-label"></label>
        <select asp-for="LoaiDocGia" class="form-select" asp-items="Html.GetEnumSelectList<ReaderType>()"></select>
        <span asp-validation-for="LoaiDocGia" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="NgayDangKy" class="form-label"></label>
        <input asp-for="NgayDangKy" type="date" class="form-control" />
        <span asp-validation-for="NgayDangKy" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="NgayHetHan" class="form-label"></label>
        <input asp-for="NgayHetHan" type="date" class="form-control" />
        <span asp-validation-for="NgayHetHan" class="text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="TrangThai" class="form-label"></label>
        <select asp-for="TrangThai" class="form-select" asp-items="Html.GetEnumSelectList<MemberStatus>()"></select>
        <span asp-validation-for="TrangThai" class="text-danger"></span>
    </div>
</div>
